/* Pagination
---------------------------------------------------- */

.pagination {
    a { color: inherit; }

    margin-top: v-space(1.5);
    margin-bottom: v-space(-0.5);
    text-align: center;
}