/* Site Layout
---------------------------------------------------- */
body {
    margin-top: 0;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: color(white);

    > header,
    > footer {
        flex: 0 0 auto;
    }

    main {
        flex: 1 1 auto;
    }
}